<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:fragment="header-css">
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>

    </div>
</head>
<body class="header-area">
<div th:fragment="header">
    <!-- this is header -->
    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Search Form -->
                        <div class="search-form">
                            <form action="#" method="get">
                                <input type="search" name="search" class="form-control-style"
                                       placeholder="Для поиска нажмите enter...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Показ авторизованного пользователя -->
                        <div class="top-social-info">
                            <span th:if="${userName != null}" th:utext="${userName}"></span>
                            <a th:if="${userInfo == null}" th:href="@{login}">авторизоваться</a>
                            <a th:if="${userInfo != null}" th:href="@{new-posts}" class="newpost">Новая запись</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="foode-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar" id="foodeNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{index}">На главную</a></li>
                                <li><a href="#">Блог</a>
                                    <ul class="dropdown">
                                        <li><a th:href="@{posts-list}">Посмотреть блог</a></li>
                                        <li><a th:href="@{new-post}">Новый пост</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Категории</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>