<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Рецептурный блог</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Место для топа постов по рейтингу -->


    </div>
</section>

<div th:replace="fragments/bodylist :: body"/>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>