<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Авторизация </title>
    <div th:replace="fragments/header :: header-css"/>
    <script src="js/authorize.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/j_spring_security_check}" method='POST'>
                <fieldset>
                    <h1>Пожалуйста авторизуйтесь</h1>

                    <!-- /login?error=true -->
                    <div th:if="${#request.getParameter('error') == 'true'}"
                         style="color:#ff0000;margin:10px 0px;">
                        Ошибка авторизации!!!<br/>
                        Reason :
                        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
                        </span>

                    </div>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Ошибка пользователя или пароля.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="Ваш логин" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Ваш пароль" required="true"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Отправить"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
            <hr>
            <form action="/registration" method="link" padding="10px">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Зарегистрироваться"/>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>


</body>
</html>